.bg-treasure-map {
background-image: url('/public/treasuremap.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.interactive-image {
cursor: pointer;
transition: transform 0.3s ease;
}

.interactive-image:hover {
transform: scale(1.05);
opacity: 0.8;
}

.map-container {
    position: relative;
    width: 1800px; 
    height: 1000px; 
    background-image: url('/public/treasuremap.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .skull-node {
    position: absolute;
    width: 10%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .skull-node:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  .map-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  @font-face {
    font-family: 'TheRumIsGone';
    src: url('/public/pirate-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.text-pirate {
    font-family: 'TheRumIsGone', sans-serif;
    font-size: 5rem;
    text-align: center;
}

.skull-tooltip {
  position: absolute;
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 7px 15px;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}


.skull-node:hover .skull-tooltip {
  visibility: visible;
}

  
  

  